.navbar{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button{
    margin: 5px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}

.LeftContainer {
    display: flex;
    justify-content: center;
}

.LeftContainer img{
    width: 10%;
}
.RightContainer{
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
}

.cart-icon-css{
    color: white;
    margin: 0 40px;
}

.cart-btn{
    display: flex;
    align-items: center;
    padding: 10px;
}

.cart-btn img{
    width: 30px;
    height: fit-content;
    color: white;
}

.cart-icon-css{
    background-color: rgb(255, 187, 0);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: relative;
    top: 3px;
    right: 8px;
}

.profile-icon{
    width: 30px;
    padding-top: 10px;
    margin-right: 20px;
}

.logout-btn{
    background-color: rgb(255, 187, 0 );
    border-radius: 10px;
}

.logout-btn:hover{
    background-color: white;
    color: rgb(255, 187, 0 );
    cursor: pointer;
}